#team {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  h1 {
    margin: 20px;
  }
  img {
    width: 150px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  li {
    margin: 0px 20px;
  }
  i {
    display: inline;
  }
  p {
    display: inline;
  }
}
