#flat {

  .banner {
    height: 50vh;
    background-position: center;
    display: cover;
    overflow: hidden;
  }
  .flat-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
  }
  .flat-owner {
    text-align: center;
  }
  .flat-details {
    padding: 0px 10px;
  }

}
